body {
  background-color: #202040;
}

footer {
  background-color: #b030b0;
}

.font {
  font-family: cursive;
  font-family: "Lemonada", cursive;
}

.h1 {
  font-size: 60px;
}

p {
  font-size: 50px;
}

.design {
  font-family: "Sriracha", cursive;
  font-size: 20px;
}
